.contact-page-header{
    @include header-bg("../images/contact-header-1.jpg");//defination in mixin.scss file.image url is passed as imput argument.
    height: 100vh;  
}
.header-box-text-1{
    span{
        display:block;
    }
}
.contact{
    background:$off-white-bg;
}
//-----------------------------------------divide screen in 2 sections--------------------------//
.contact-flex-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.contact-info{
    flex-basis: 30%;
    padding:5rem 0;
}
.contact-info-box{
    width:70%;
    color:white;
    padding:5rem 2rem;
    color:$body-text-color;
    a{  
        padding:0 1.5rem 0 0;    
        color:$body-text-color;
    }
}
.margin-bottom{
    margin-bottom:1.5rem;
}
.social-icon{
    margin-bottom:1.5rem;
    ul{
        li{
            float:left;
            a{
                color:$light-green-color;
            }              
        }
    }
}
.addredd-info{
    a{
      font-weight: bold;     
    }
    address{
        margin-top: 1.5rem;
        span{
            display:block;
        }
    }
}
.contact-form{
    flex-basis: 60%;
    position:relative;
    top:-30%;
    form{
        padding:10rem 3rem;
        background:white;
        box-shadow: -2rem 2rem $highlight-yellow-color;
        input{
            background:white;
        }
    }
}
